<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>
		<%=app_name%>
	</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/../css/sb-admin.css" rel="stylesheet">

	<!-- Toast -->
	<link href="/../toastr/toastr.min.css" rel="stylesheet" />

	<!-- Ícone -->
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

	<!-- Datatable -->
	<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />

	<link rel="stylesheet" type="text/css" href="/DataTables/Buttons-1.5.2/css/buttons.bootstrap.min.css" />
</head>

<body id="page-top">
	<% include ../comum/navbar %>

		<div id="wrapper">
			<div id="content-wrapper">
				<div class="container-fluid">
					<!-- Page Content -->
					<div class="card">
						<div class="card-header">Cadastrar | Permissão Tela</div>
						<div class="card-body">

							<div class="tab-content" id="nav-tabContent">

								<form method="POST" action="/cadastrar_permissao_tela">
									<div class="form-group row">
										<label for="tela" class="col-sm-2 col-form-label">Tela
										</label>
										<div class="col-sm-10">
											<select class="custom-select my-1 mr-sm-2" id="tela" name="tela" required>
												<option selected>Selecione...</option>
												<%for(let x= 0; x < recordsTelas.length; x++){%>
													<option value="<%=recordsTelas[x].ID%>">
														<%=recordsTelas[x].DESCRICAO%>
													</option>
												<%}%>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="grupo"
											class="col-sm-2 col-form-label">Grupo: </label>
										<div class="col-sm-10">
											<select class="custom-select my-1 mr-sm-2" id="grupo" name="grupo" required>
												<option selected>Selecione...</option>
												<%for(let x= 0; x < recordsGrupos.length; x++){%>
													<option value="<%=recordsGrupos[x].DESCRICAO%>">
														<%=recordsGrupos[x].DESCRICAO%>
													</option>
												<%}%>
											</select>
										</div>
									</div>
									
									<button class="btn btn-primary" type="submit">Salvar</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- /.container-fluid -->

			<% include ../comum/footer %>
		</div>
		<!-- /.content-wrapper -->
		</div>
		<!-- /#wrapper -->
		<% include ../comum/logout %>
			<!-- Bootstrap core JavaScript-->
			<script src="/vendor/jquery/jquery.min.js"></script>
			<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
			<!-- Core plugin JavaScript-->
			<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
			<script type="text/javascript" src="/js/jQuery-Mask-Plugin/jquery.mask.min.js"></script>
			<!-- Custom scripts for all pages-->
			<script src="/js/sb-admin.min.js"></script>
			<!-- Toastr -->
			<script src="/toastr/toastr.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
			<!-- Datatable -->
			<script type="text/javascript" src="/DataTables/datatables.min.js"></script>

			<div class="customLoading"></div>

</body>

</html>